Hello  <%=@user.first_name%>,

Here is a new code that will allow you to validate your account : <%=@user.confirmation_code%>.
Please note, this code will expire in <%=Application.fetch_env!(:letzell, :confirmation_code_expire_hours)%> time.